/* Breakpoints... */
/* None so far (!) */
/* ***************************************** */
/* colours */
/* ***************************************** */
/* Primary colours */
/* primary gradients */
/* secondary yellow */
/* secondary green */
/* secondary teal */
/* secondary blue */
/* secondary purple */
/* black and white */
/* variable definitions for the font system */
/* none yet (!) */
/* 
@import 'mixins/breakpoint';
@import 'mixins/centering';
@import 'mixins/clearfix';
@import 'mixins/triangle';   
*/
/* ************************************************************ */
/* Web fonts */
/* ************************************************************ */
@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeueW01-55Roma.eot);
  src: url(../fonts/HelveticaNeueW01-55Roma.eot) format("eot"), url(../fonts/HelveticaNeueW01-55Roma.woff2) format("woff2"), url(../fonts/HelveticaNeueW01-55Roma.woff) format("woff"), url(../fonts/HelveticaNeueW01-55Roma.ttf) format("truetype"), url(../fonts/HelveticaNeueW01-55Roma.svg#HelveticaNeueW01-55Roma) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeueW01-75Bold.eot);
  src: url(../fonts/HelveticaNeueW01-75Bold.eot) format("eot"), url(../fonts/HelveticaNeueW01-75Bold.woff2) format("woff2"), url(../fonts/HelveticaNeueW01-75Bold.woff) format("woff"), url(../fonts/HelveticaNeueW01-75Bold.ttf) format("truetype"), url(../fonts/HelveticaNeueW01-75Bold.svg#HelveticaNeueW01-75Bold) format("svg");
  font-weight: 600;
  font-style: normal; }

/* calc(62.5% * 0.6); = somewhere very near 6px  */
/* standard web reset value 62.5% is usually equivalent to 10px for rem values (assuming default user setting is 16px) */
/* ************************************************************ */
/* Reset */
/* ************************************************************ */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: HelveticaNeue, Helvetica, "San Fransisco", Roboto, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 37.5%;
  line-height: 1.25;
  text-decoration: none;
  height: 100%;
  min-width: 320px;
  vertical-align: text-bottom;
  color: #000;
  background: #fff; }

body {
  min-height: 100%;
  font-size: 3rem;
  display: flex;
  flex-direction: column; }

*, *:before, *:after {
  box-sizing: inherit; }

main, article, aside, footer, header, nav, section, figcaption, figure {
  display: block;
  flex: 1;
  margin: 0;
  padding: 0; }

body, p, nav > ul, nav > ul > li, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

nav > ul, nav > ul > li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: HelveticaNeue, Helvetica, "San Fransisco", Roboto, Arial, sans-serif;
  font-weight: 600;
  color: #000; }

img {
  max-width: 100%;
  height: auto;
  /* todo: proportional image resizing */ }

/*TODO: define section spacings globally */
/* ie: refactor the contents of this file into various other files and eventually delete... */
/*

header {
    padding: 0 12px 0 12px; 
     padding: 0;
    min-height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-primaryLightgrey;
}

.top-navigation {
    flex: 0 1 100%;
}

.top-navigation>ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-navigation>ul>li {
    flex: 0 1 auto;
    margin-right: 18px;
}


*/
/*

main > section {
    padding: 0 12px 0 12px;
}

*/
/*
.doc-footer {
margin-top: 24px;
padding: 0 0 0 12px;
min-height: 60px;
border-top: 1px solid $color-primaryLightgrey;
text-align: center;
display: flex;
align-items: center;
justify-content: space-between;
background-image: linear-gradient(90deg, #FD940C 0%, #F04D12 27%, #F13168 68%, #EA2E2D 100%);
}

*/
/*

.public-footer {
background-color: $color-primaryBlack;
}

.public-footer > nav {
    display: flex;
    justify-content:flex-start;
    flex-flow: row wrap;
    padding: 2em;
}

    .public-footer > nav > section {
        display: flex;
        align-items: stretch;
        flex-flow: column nowrap;
        flex: 1 0 auto;
        padding: 1em;
        width: 240px;
    }

.public-footer > nav > section > a {
    padding: .5em 0 .5em 0;
    color: $color-primaryWhite;
}


.public-footer > section {
display: block;
color: $color-primaryWhite;
padding: 3em;
}
 

*/
/* Primary colour backgrounds and text settings */
/* variables are defined in /variables/_colours.settings.scss */
.-panelprimaryyellow {
  background-color: #FD940C;
  color: #000; }

.-panelprimaryorange {
  background-color: #F87010;
  color: #000; }

.-panelprimarydarkorange {
  background-color: #F04D12;
  color: #000; }

.-panelprimarypink {
  background-color: #F13168;
  color: #000; }

.-panelprimarymagenta {
  background-color: #FB2CA1;
  color: #000; }

.-panelprimaryred {
  background-color: #EA2E2D;
  color: #000; }

/* Primary gradient colour backgrounds and text settings */
.-gradientprimaryvibrant {
  color: #000;
  background-image: linear-gradient(90deg, #FD940C 0%, #F87010 20%, #F04D12 38%, #F13168 59%, #FB2CA1 80%, #EA2E2D 100%); }

.-gradientprimaryvibrant1 {
  color: #000;
  background-image: linear-gradient(90deg, #FD940C 0%, #F04D12 48%, #FB2CA1 100%); }

.-gradientprimaryvibrant2 {
  color: #000;
  background-image: linear-gradient(90deg, #FD940C 0%, #F04D12 27%, #F13168 68%, #EA2E2D 100%); }

.-gradientprimaryvibrant3 {
  color: #000;
  background-image: linear-gradient(90deg, #F13168 0%, #FB2CA1 51%, #EA2E2D 100%); }

/* secondary yellow */
.-panelsecondaryyellow {
  background-color: #F0E806;
  color: #000; }

.-panelsecondaryyellowlight1 {
  background-color: #FDF742;
  color: #000; }

.-panelsecondaryyellowlight2 {
  background-color: #FFFB72;
  color: #000; }

.-panelsecondaryyellowlight3 {
  background-color: #FFFFAC;
  color: #000; }

.-panelsecondaryyellowdark1 {
  background-color: #D5CF00;
  color: #000; }

.-panelsecondaryyellowdark2 {
  background-color: #A29D00;
  color: #000; }

.-panelsecondaryyellowdark3 {
  background-color: #6E6B00;
  color: #fff; }

/* secondary green */
.-panelsecondarygreen {
  background-color: #00CA46;
  color: #000; }

.-panelsecondarygreenlight1 {
  background-color: #1DEB64;
  color: #000; }

.-panelsecondarygreenlight2 {
  background-color: #45FF86;
  color: #000; }

.-panelsecondarygreenlight3 {
  background-color: #86FFB7;
  color: #000; }

.-panelsecondarygreendark1 {
  background-color: #00A83A;
  color: #fff; }

.-panelsecondarygreendark2 {
  background-color: #006824;
  color: #fff; }

.-panelsecondarygreendark3 {
  background-color: #004418;
  color: #fff; }

/* secondary teal */
.-panelsecondaryteal {
  background-color: #00CAC2;
  color: #000; }

.-panelsecondaryteallight1 {
  background-color: #22E2DA;
  color: #000; }

.-panelsecondaryteallight2 {
  background-color: #4BEFE9;
  color: #000; }

.-panelsecondaryteallight3 {
  background-color: #79FBF6;
  color: #000; }

.-panelsecondarytealdark1 {
  background-color: #00A9A3;
  color: #000; }

.-panelsecondarytealdark2 {
  background-color: #00807B;
  color: #fff; }

.-panelsecondarytealdark3 {
  background-color: #005451;
  color: #fff; }

/* secondary blue */
.-panelsecondaryblue {
  background-color: #0040DA;
  color: #fff; }

.-panelsecondarybluelight1 {
  background-color: #2F71FF;
  color: #000; }

.-panelsecondarybluelight2 {
  background-color: #68A6FF;
  color: #000; }

.-panelsecondarybluelight3 {
  background-color: #97BDFF;
  color: #000; }

.-panelsecondarybluedark1 {
  background-color: #002EB7;
  color: #fff; }

.-panelsecondarybluedark2 {
  background-color: #00138A;
  color: #fff; }

.-panelsecondarybluedark3 {
  background-color: #00075A;
  color: #fff; }

/* secondary purple */
.-panelsecondarypurple {
  background-color: #5900CA;
  color: #fff; }

.-panelsecondarypurplelight1 {
  background-color: #7E2BE8;
  color: #000; }

.-panelsecondarypurplelight2 {
  background-color: #A660FF;
  color: #000; }

.-panelsecondarypurplelight3 {
  background-color: #BE8AFF;
  color: #000; }

.-panelsecondarypurpledark1 {
  background-color: #4B00AB;
  color: #fff; }

.-panelsecondarypurpledark2 {
  background-color: #380081;
  color: #fff; }

.-panelsecondarypurpledark3 {
  background-color: #21004B;
  color: #fff; }

/* black and white */
.-panelprimaryblack {
  background-color: #000;
  color: #fff; }

.-panelprimarywhite {
  background-color: #fff;
  color: #000; }

.-panelprimarydarkgrey {
  background-color: #757575;
  color: #fff; }

.-panelprimarylightgrey {
  background-color: #f1f1f1;
  color: #000; }

/*
@import 'utilities/alignment';
@import 'utilities/containers';
@import 'utilities/display';
@import 'utilities/grid';
@import 'utilities/sections';
*/
/*TODO Proof-read the settings and build test pages */
.-xxxlargetext {
  font-size: 8rem; }

.-xxxlargetext:before {
  content: '';
  display: block; }

h1, .-xxlargetext {
  font-size: 7rem; }

h1:before, .-xxlargetext:before {
  content: '';
  display: block;
  height: 1em; }

.-xlargetext {
  font-size: 6rem; }

.-xlargetext:before {
  content: '';
  display: block;
  height: 1em; }

.-largetext {
  font-size: 5rem; }

.-largetext:before {
  content: '';
  display: block;
  height: 1em; }

h2, .-mediumtext {
  font-size: 4rem; }

h2:before, .-mediumtext:before {
  content: '';
  display: block;
  height: 1em; }

h3, h4, h5, h6, .-smalltext, p {
  font-size: 3rem; }

h3:before, h4:before, h5:before, h6:before, .-smalltext:before {
  content: '';
  display: block;
  height: 1em; }

* + p:before,
p + div:before,
div + p:before,
p + aside:before,
div + aside:before {
  content: '';
  display: block;
  height: 1em;
  width: 100%; }

.-xsmalltext {
  font-size: 2.5rem; }

.-xsmalltext:before {
  content: '';
  display: block;
  height: 1em; }

.-xxsmalltext {
  font-size: 2rem; }

.-xxsmalltext:before {
  content: '';
  display: block;
  height: 1em; }

h1 + p:before,
h2 + p:before,
h3 + p:before,
h4 + p:before,
h5 + p:before,
h6 + p:before,
.-xxxlargetext + p:before,
.-xxlargetext + p:before,
.-xlargetext + p:before,
.-largetext + p:before,
.-mediumtext + p:before,
.-smalltext + p:before,
.-xsmalltext + p:before,
.-xxsmalltext + p:before {
  display: none; }

.-preambletext {
  font-weight: 600;
  /*TODO: variable */ }

/* ************************************************************ */
/* Blockquote */
/* ************************************************************ */
/*TODO: vertical rythm and spacings */
blockquote {
  display: block;
  margin: 15px 15px 30px;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  border-left: 4px solid #000;
  background: #f1f1f1; }
  blockquote :last-child {
    margin-bottom: 0; }

/* ************************************************************ */
/* Buttons */
/* ************************************************************ */
/*TODO: vertical rythm !! */
/*TODO: outline on focus and hover */
/*TODO: make sure content doesn't need reflow outside of the button on hover and focus */
.button {
  height: 3.666667em;
  min-width: 12em;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  padding: 0 2em;
  margin: 1em;
  transition: ease-in .2s;
  border-radius: 3em;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: 0.16666em solid transparent;
  color: #000;
  background-color: #fff;
  background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, #FD940C 0%, #F04D12 27%, #F13168 68%, #EA2E2D 100%);
  position: relative;
  /* make room for expansion effect on hover */
  left: -1em; }
  .button.-secondary {
    border-color: #000; }
  .button:hover, .button:focus {
    margin: 0.75em 0.5em;
    font-size: 1.1em; }
  .button:active {
    margin: 1.25em 1.5em;
    font-size: 0.9em; }
  .button.-small {
    height: 2.6666667em;
    font-size: 1em;
    line-height: 1;
    min-width: 0;
    border-width: 0.16666em;
    padding: 0 1.4em;
    margin: 1em;
    /* background-color: blue; */ }
    .button.-small:hover, .button.-small:focus {
      font-size: 1.1em;
      margin: 0.8em; }
    .button.-small:active {
      font-size: 0.9em;
      margin: 1.2em; }

.radiobuttonlist {
  display: inline-flex;
  border-radius: 100px;
  border: 2px solid #000;
  overflow: hidden;
  background-color: #000;
  color: #fff; }
  .radiobuttonlist > label {
    text-align: center;
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    color: #000; }
    .radiobuttonlist > label + label {
      border-left: 1px solid #000; }
    .radiobuttonlist > label > input {
      display: none; }
  .radiobuttonlist > .-selected {
    background-color: #000;
    color: #fff; }

.tabbuttons {
  display: inline-flex;
  border-radius: 100px;
  overflow: hidden;
  margin: 1em 0;
  border: 1px solid #000; }
  .tabbuttons > label {
    text-align: center;
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    padding: 1em 2em;
    border: none;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tabbuttons > label + label {
      border-left: 1px solid #000; }
  .tabbuttons > label.-selected {
    background-color: #000;
    color: #fff; }
  .tabbuttons > label > input {
    display: none; }

.tablinks {
  display: inline-flex;
  border-radius: 100px;
  overflow: hidden;
  margin: 1em 0;
  border: 2px solid #000; }
  .tablinks > a {
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    line-height: 1;
    padding: 1em 2em;
    border: none;
    background-image: none;
    text-decoration: none !important;
    color: inherit !important;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tablinks > a + a {
      border-left: 1px solid #000; }
  .tablinks > a.-selected {
    background-color: #000;
    color: #fff !important; }

a {
  background-color: inherit; }
  a:link {
    color: #0040DA;
    text-decoration: underline; }
  a:visited {
    color: #5900CA; }
  a:focus {
    outline: inherit;
    border-bottom: 1px dotted #666; }
  a:hover {
    border-bottom: 1px dotted #666; }
  a:active {
    color: #EA2E2D;
    background-color: inherit; }

/*TODO: vertical rythm */
ul, ol, dl {
  margin: 0;
  padding: 0 0 0 1.0em; }

ul {
  list-style: disc outside; }

ol {
  list-style: decimal inside; }

li {
  margin: 0;
  padding: 0; }

dt {
  font-weight: bold;
  display: inline-block; }

dd {
  display: inline; }

dd:after {
  content: '';
  display: block;
  /*TODO: variable for this spacing */
  margin-bottom: 0.5em; }

pre {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; }

code {
  font-family: Monaco, "Courier New", Courier, monospace;
  color: #000;
  background: #999;
  white-space: pre; }

/*TODO - introduce a11y and responsive behaviour for tables */
table {
  margin: 15px 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }
  table tr {
    border-bottom: 1px solid #f1f1f1;
    text-align: left; }
  table thead th {
    padding: 15px;
    font-weight: 300;
    color: #757575; }
  table tbody td {
    padding: 15px;
    font-weight: 300; }

/*TODO: vertical rythm !! */
/*TODO: refactor this (to include the new fields introduced - eg for error messages / status etc) */
/*TODO: check on various devices  */
label.inputelement {
  display: block;
  /*    margin: 2rem 0 3rem;  */
  font-size: 3rem;
  font-weight: bold; }
  label.inputelement > input[type=text],
  label.inputelement > input[type=url],
  label.inputelement > input[type=number],
  label.inputelement > input[type=tel],
  label.inputelement > input[type=password],
  label.inputelement > input[type=email],
  label.inputelement > textarea {
    display: block;
    font-size: 3rem;
    width: 100%;
    border: 1px solid #333;
    padding: 1rem;
    box-shadow: inset 0 1px 2px #ccc; }
  label.inputelement > input[type=search],
  label.inputelement > input[type=date],
  label.inputelement > input[type=month],
  label.inputelement > input[type=week],
  label.inputelement > input[type=time],
  label.inputelement > input[type=datetime],
  label.inputelement > input[type=datetime-local] {
    font-size: 3rem;
    width: 100%;
    border: 1px solid #333;
    padding: 1.2rem;
    box-shadow: inset 0 1px 2px #ccc; }

.checkboxelement, .radioelement {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .checkboxelement > input[type=checkbox],
  .checkboxelement > input[type=radio], .radioelement > input[type=checkbox],
  .radioelement > input[type=radio] {
    -webkit-appearance: none;
    border: 1px solid #000;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 12px;
    background-color: none;
    box-shadow: inset 0 1px 2px #ccc; }
  .checkboxelement > input[type=radio], .radioelement > input[type=radio] {
    border-radius: 100%; }
  .checkboxelement > input[type=checkbox]:before, .radioelement > input[type=checkbox]:before {
    content: '';
    transition: 3000ms ease-in-out;
    display: none;
    border: none; }
  .checkboxelement > input[type=checkbox]:checked:before, .radioelement > input[type=checkbox]:checked:before {
    display: block;
    border-bottom: 2px solid green;
    border-left: 2px solid green;
    width: 70%;
    height: 40%;
    content: '';
    transform: rotate(-45deg) translate(1px, 6px); }
  .checkboxelement > input[type=radio]:checked, .radioelement > input[type=radio]:checked {
    background: radial-gradient(circle, #000 5px, #000 1%);
    /* or whatever styles you want depending on your design */
    /* be as obvious as possible that it's a checkbox and that it's checked! */ }

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 10rem;
  align-items: center;
  border-bottom: 1px solid #f1f1f1; }
  .header-bar > .logo {
    /* TODO: Embedded SVG (and link) formatting */ }
  .header-bar > .topnavigation > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header-bar > .topnavigation > ul > li {
      flex: 0 1 auto;
      margin-left: 3rem; }

/* *****

Note! 

There be dependencies !
There be a need for some JS to acheive full functionality!

ie - here's "variation attribute choreography" code in the js file for this module that is required for all of the responsive sweetness to work properly
(adapting the classes of the price card dynamically)

https://philipwalton.com/articles/responsive-components-a-solution-to-the-container-queries-problem/

CSS grid fallback for MSIE and EDGE
https://rachelandrew.co.uk/archives/2016/11/26/should-i-try-to-use-the-ie-implementation-of-css-grid-layout/


CSS div aspect ratios:
    https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css

******** */
.article-card {
  font-size: 2rem;
  display: grid;
  grid-gap: 0;
  grid-template-areas: "image" "header" "teaser" "cta"; }

.article-card > .heading {
  font-size: 2em;
  font-weight: 600;
  grid-area: header;
  padding: 1rem 2rem 0 2rem; }

.article-card > .heading > a {
  color: #000; }

.article-card > .image {
  grid-area: image;
  background-color: #f1f1f1; }

.article-card > .image > img {
  max-width: 100%; }

.article-card > .teaser {
  grid-area: teaser;
  padding: 1.5rem 2rem 2rem 2rem;
  font-size: 3rem; }

.article-card > .cta {
  grid-area: cta; }

.article-card > .cta > form {
  display: inline-block; }

/* portrait (320px) */
.article-card.-portrait {
  /*Todo: MSIEhack? */ }

.article-card.-portrait > .image {
  text-align: center;
  min-height: 170px;
  /* todo: image aspect ratio handling */ }

.article-card.-portrait > .cta {
  display: none; }

/* landscape (768px) */
.article-card.-landscape {
  grid-template-areas: "image header" "image teaser" "image cta" "image .";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; }

.article-card.-landscape > .heading {
  padding: 4rem 3rem 1.5rem 3rem; }

.article-card.-landscape > .heading > a {
  text-decoration: none; }

.article-card.-landscape > .image {
  width: auto;
  min-height: 320px; }

.article-card.-landscape > .teaser {
  padding: 0 3rem 1.5rem 3rem; }

.article-card.-landscape > .cta {
  text-align: left;
  padding: 0 1rem 4rem 1rem; }

/* wide landscape (1440px) */
.article-card.-widelandscape {
  grid-template-areas: "image header" "image teaser" "image cta" "image .";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; }

.article-card.-widelandscape > .heading {
  padding: 10rem 10rem 3rem 10rem; }

.article-card.-widelandscape > .heading > a {
  text-decoration: none; }

.article-card.-widelandscape > .image {
  width: 100%;
  padding-bottom: 100%; }

.article-card.-widelandscape > .teaser {
  padding: 0 10rem 1.5rem 10rem;
  font-size: 3rem; }

.article-card.-widelandscape > .cta {
  text-align: left;
  padding: 5rem 9.6rem 4rem 8rem; }

/* Price component */
.price-card {
  display: inline-block;
  font-size: 2rem; }

.price-card > .specification1 {
  font-weight: 600;
  font-size: 1.25em; }

.price-card > .specification2 {
  font-weight: 600;
  font-size: 1.25em; }

.price-card > .cost {
  margin-top: .3em;
  margin-bottom: .3em;
  border-top: 0.3rem solid #000;
  padding-bottom: .3em;
  padding-right: .2em;
  display: grid;
  grid-gap: 0;
  padding: 0;
  grid-template-areas: "amount ." "amount instalment" "amount duration";
  grid-template-columns: auto 1fr; }

.price-card > .cost > .amount {
  grid-area: amount;
  font-weight: 600;
  line-height: 1;
  font-size: 2.5em;
  letter-spacing: -0.25rem;
  display: block;
  overflow: hidden;
  padding-right: 1rem;
  margin-bottom: -0.05em; }

.price-card > .cost > .instalment {
  grid-area: instalment;
  font-weight: 600;
  line-height: 1; }

.price-card > .cost > .duration {
  grid-area: duration;
  font-weight: 600;
  line-height: 1; }

.price-card > .originalcost {
  text-decoration: line-through;
  font-weight: 600;
  color: #757575;
  margin-top: 0.4em;
  font-size: 1.25em; }

.price-card > .minimumcost {
  margin-top: 0.3em; }

/* variations */
/* price-card  -small */
.price-card > .price > .amount,
.product-card.-narrowportrait > .price > .price-card > .cost > .amount,
.product-card.-narrowlandscape > .price-card > .cost > .amount,
.price-card.-small > .cost > .amount {
  font-size: 2.5em;
  margin-bottom: -0.04em;
  /* manual tweak */ }

/* price-card  -medium */
.product-card.-landscape > .price-card > .cost > .amount,
.price-card.-medium > .cost > .amount {
  font-size: 4em;
  margin-bottom: -0.06em;
  /* manual tweak */ }

/* price-card  -large */
.price-card.-large > .regularcost {
  font-size: 1.25em; }

.product-card.-widelandscape > .price-card > .cost > .amount,
.price-card.-large > .cost > .amount {
  font-size: 5em;
  margin-bottom: -0.09em;
  /* manual tweak */ }

/* *****

Note! 

There be dependencies !
There be a need for some JS to acheive full functionality!

ie - here's "variation attribute choreography" code in the js file for this module that is required for all of the responsive sweetness to work properly
(adapting the classes of the price card dynamically)

https://philipwalton.com/articles/responsive-components-a-solution-to-the-container-queries-problem/

CSS grid fallback for MSIE and EDGE
https://rachelandrew.co.uk/archives/2016/11/26/should-i-try-to-use-the-ie-implementation-of-css-grid-layout/

******** */
.product-card {
  font-size: 2rem;
  display: grid;
  grid-gap: 1em;
  padding: 0.5em;
  grid-template-areas: "name" "image" "description" "price" "cta"; }

.product-card > .productname {
  font-size: 2em;
  font-weight: 600;
  grid-area: name; }

.product-card > .productimage {
  grid-area: image; }

.product-card > .productimage > img {
  max-width: 100%; }

.product-card > .productdescription {
  grid-area: description;
  font-size: 1.5em; }

.product-card > .price-card {
  grid-area: price; }

.product-card > .cta {
  grid-area: cta; }

.product-card > .cta > form {
  display: inline-block; }

/* narrow portrait (240px) */
.product-card.-narrowportrait > .productname {
  font-size: 2em;
  font-weight: 600;
  text-align: center; }

.product-card.-narrowportrait > .productimage {
  text-align: center; }

.product-card.-narrowportrait > .productdescription {
  text-align: center;
  font-size: 1.25em; }

.product-card.-narrowportrait > .price-card {
  text-align: left; }

.product-card.-narrowportrait > .cta {
  text-align: center; }

/* narrow landscape (320px) */
.product-card.-narrowlandscape {
  /*MSIEhack */
  display: -ms-grid;
  -ms-grid-columns: 50% 10px 48%;
  -ms-grid-rows: 1fr 0 3fr 10px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "name  image" "description  image" ".  image" "price  cta";
  padding: 1em; }

.product-card.-narrowlandscape > .productname {
  /*MSIEhack */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  font-size: 2em;
  font-weight: 600;
  text-align: left; }

.product-card.-narrowlandscape > .productimage {
  /*MSIEhack */
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-row-span: 3;
  text-align: center; }

.product-card.-narrowlandscape > .productdescription {
  /*MSIEhack */
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-row-span: 1;
  text-align: left; }

.product-card.-narrowlandscape > .price-card {
  /*MSIEhack */
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-row-span: 1;
  text-align: left; }

.product-card.-narrowlandscape > .cta {
  /*MSIEhack */
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-row-span: 1;
  text-align: center; }

/* landscape (768px) */
.product-card.-landscape {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "name  image" "description  image" "price  image"   "cta  image"   ".  image";
  padding: 3em; }

.product-card.-landscape > .productname {
  font-size: 2em;
  font-weight: 600;
  text-align: left; }

.product-card.-landscape > .productimage {
  text-align: center; }

.product-card.-landscape > .productdescription {
  text-align: left; }

.product-card.-landscape > .price-card {
  text-align: left; }

.product-card.-landscape > .cta {
  text-align: left; }

/* wide landscape (1440px) */
.product-card.-widelandscape {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "name  image" "description  image" "price  image"   "cta  image"   ".  image";
  padding: 5em; }

.product-card.-widelandscape > .productname {
  font-size: 2em;
  font-weight: 600;
  text-align: left; }

.product-card.-widelandscape > .productimage {
  text-align: center; }

.product-card.-widelandscape > .productdescription {
  text-align: left; }

.product-card.-widelandscape > .price-card {
  text-align: left; }

.product-card.-widelandscape > .cta {
  text-align: left; }

.usp-tout {
  font-size: 4rem;
  letter-spacing: -0.1rem;
  font-weight: 600;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: 6px solid transparent;
  color: #000;
  background-color: #fff;
  background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, #FD940C 0%, #F04D12 48%, #FB2CA1 100%);
  position: relative;
  padding: 0.1em 0.333333em 2em 0.3333333em; }
  .usp-tout > .text {
    background-color: #fff;
    position: relative;
    z-index: 3;
    max-width: 66em; }
  .usp-tout.-narrowlandscape {
    padding: 0.5em 3em 2em 0.5em;
    font-size: 4rem;
    letter-spacing: -0.1rem;
    /* 
            border: calc( 1px + (11 * 100vw ) / (767 - 320)) solid transparent;
        */ }
  .usp-tout:after, .usp-tout.-narrowlandscape:after {
    content: '';
    display: block;
    background: url("../logos/usplogosmaller.png");
    width: 65px;
    height: 85px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000; }
  .usp-tout.-landscape {
    padding: 3em 1em 3em 2.5em;
    font-size: 5rem;
    min-height: 290px;
    border-width: 12px; }
    .usp-tout.-landscape > .text {
      max-width: 75%; }
  .usp-tout.-landscape:after, .usp-tout.-widelandscape:after {
    content: '';
    display: block;
    background: url("../logos/usplogolarger.png");
    width: 200px;
    height: 240px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000; }
  .usp-tout.-widelandscape {
    padding: 3em 3em 3em 3em;
    font-size: 7rem;
    border-width: 18px; }
    .usp-tout.-widelandscape > .text {
      width: 60%;
      font-size: 6rem; }

.styleguide body {
  flex-direction: row; }

.styleguide.-startpage h1,
.styleguide .-startpage h1 {
  margin-top: 8rem;
  font-size: 30rem;
  line-height: 25rem; }
  .styleguide.-startpage h1:before,
  .styleguide .-startpage h1:before {
    display: none; }

.styleguide.-startpage h2,
.styleguide .-startpage h2 {
  font-size: 6rem;
  /* 3.8rem; */
  line-height: 14rem; }

.styleguide header {
  border-bottom: 2px solid #000;
  padding-top: 13rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end; }
  .styleguide header > h1,
  .styleguide header > .Status--tag {
    display: inline; }
  .styleguide header > h1:before {
    display: none; }
  .styleguide header > .version-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .styleguide header > .version-control > .version,
    .styleguide header > .version-control > .status,
    .styleguide header > .version-control > .updated {
      white-space: nowrap;
      font-size: 2.5rem; }
    .styleguide header > .version-control > div + div {
      margin-left: 4rem; }

.styleguide main {
  padding: 0 10rem 20rem 10rem;
  flex: 1 1 100%;
  max-width: 66em; }

.styleguide .sidenavpanel {
  padding: 0 2rem 10rem 2rem;
  flex: 0 0 300px;
  background-color: #000;
  color: #fff; }
  .styleguide .sidenavpanel .Header-title {
    display: block;
    padding-bottom: 2rem; }
    .styleguide .sidenavpanel .Header-title > .logotype {
      display: inline-block;
      line-height: 1; }
    .styleguide .sidenavpanel .Header-title > .title {
      display: inline-block;
      font-size: 6rem;
      font-weight: bold;
      line-height: 8rem;
      position: relative;
      top: -2rem; }
  .styleguide .sidenavpanel .Tree-title {
    display: none; }
  .styleguide .sidenavpanel .Tree-collectionLabel {
    display: block;
    font-size: 4rem;
    padding-bottom: 3rem; }
  .styleguide .sidenavpanel ul, .styleguide .sidenavpanel li {
    margin: 0;
    padding: 0;
    display: block; }
  .styleguide .sidenavpanel li {
    padding: 0 2rem 2rem 2rem; }
  .styleguide .sidenavpanel a {
    background-color: #000;
    color: #fff;
    font-size: 1em;
    text-decoration: none; }

/* ************************************************************ */
/* colour swatches for the styleguide pages */
/* ************************************************************ */
.colour-swatch {
  display: flex;
  flex: 1 33%;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 3rem;
  min-height: 30rem;
  margin-bottom: 1.5em;
  max-width: 32%;
  min-width: 26%;
  overflow: hidden;
  white-space: pre; }
  .colour-swatch > .name {
    padding-top: 1rem;
    background-color: #fff;
    color: #000;
    font-weight: bold; }
  .colour-swatch > .value {
    padding-bottom: 1rem;
    background-color: #fff;
    color: #000; }
  .colour-swatch > .code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 2rem;
    background-color: #f1f1f1;
    color: #000;
    padding: 1rem; }

.primarycolourswatches {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.primarygradientswatches {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }
  .primarygradientswatches > .colour-swatch.-gradientprimaryvibrant {
    flex: 3 100%;
    min-width: 100%;
    max-width: 100%; }

.secondarycolourswatches > section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; }
  .secondarycolourswatches > section > h2 {
    width: 100%; }
  .secondarycolourswatches > section > .colour-readbility-swatch {
    min-width: 66%; }
    .secondarycolourswatches > section > .colour-readbility-swatch > h3:before {
      display: none; }
    .secondarycolourswatches > section > .colour-readbility-swatch > h3 {
      padding-top: 1rem; }
    .secondarycolourswatches > section > .colour-readbility-swatch > .contrasts {
      display: flex;
      flex-direction: row; }
      .secondarycolourswatches > section > .colour-readbility-swatch > .contrasts > div {
        flex: 1 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 3em; }

.monochromecolourswatches {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }
  .monochromecolourswatches > div {
    border: 1px solid #f1f1f1;
    min-width: 49%;
    height: 25em; }
  .monochromecolourswatches > div + div + div {
    height: 10em; }

/* ************************************************************ */
/* subgrids  (should probably  be extracted) */
/* ************************************************************ */
/*
.grid-three-equal {
    padding:0;
    margin:1rem -1rem 1rem -1rem;
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
}

.grid-three-equal>* {
    flex: 1 30%;
    margin: 1rem 1rem 1rem 1rem;
}


.grid-three-initial-hero {
    padding:0;margin:1rem -1rem 1rem -1rem;
    list-style: none;
    padding:0;margin:0;
    display: flex;
    flex-wrap: wrap;
}

.grid-three-initial-hero > * {
    flex: 3 100%;
    width: 100%;
    padding: 1rem;
}

.grid-three-initial-hero > * + * { 
    flex: 1 auto;
    width: auto;
}


.grid-secondarycolorsample {
    padding:0;
    margin:1rem -1rem 1rem -1rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.grid-secondarycolorsample>* {
    flex: 1 31.5%;
    margin: 1rem 1rem 1rem 1rem;
}


*/
/* ************************************************************ */
/* Specials */
/* ************************************************************ */
.showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.showcase-item > h2 + * {
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2); }

.showcase-item > h2 {
  margin-bottom: 1em;
  border-bottom: 1px solid #757575; }
